h1{
	color: #ff6600;
	letter-spacing: -1px;
	text-transform: capitalize;
	width: 650px;
	text-shadow: 1px 1px 1px black;
	font-family: helvetica;
	text-align: center;
	font-family: 'Hachi Maru Pop', cursive;
}
p{
	text-indent: 50px;
	width: 650px;
	text-align: justify;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
#wrap{
	width: 960px;
	margin: auto;
}